body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
    color: #0056b3;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.edit-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #7daad1;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #86c876;
}

div {
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

strong {
    font-weight: bold;
    color: #555;
}

form {
    margin: 20px auto;
    padding: 15px;
    width: 80%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #444;
}

input[type="number"], input[type="text"], input[type="date"] {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #dd9672;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}

h4, h5 {
    text-align: center;
    margin-top: 30px;
    font-size: 1.2rem;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #c1c4c5;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}